<html>
<body>
    <div class="top-banner">
        <div class="banner-text">
            Bandeau<br>
            qui defile<br>
            facebook etc
        </div>
    </div>
    
    <div class="footer">
        <div class="footer-column">
            <div class="footer-title">Information</div>
            <div class="footer-content">Studio Shinra</div>
            <div class="footer-content">06.60.50.50.53</div>
            <div class="footer-content">contactStudio-Shinra.fr</div>
        </div>
        
        <div class="footer-column">
            <div class="footer-title">Votre compte</div>
            <div class="footer-content"><a href="#">Information personnelles</a></div>
            <div class="footer-content"><a href="#">Commandes</a></div>
            <div class="footer-content"><a href="#">Liste de souhaits</a></div>
        </div>
        
        <div class="footer-column">
            <div class="footer-title">Notre société</div>
            <div class="footer-content"><a href="#">Conditions Générales</a></div>
            <div class="footer-content"><a href="#">Paiment sécurisé</a></div>
            <div class="footer-content"><a href="#">F.A.Q</a></div>
        </div>
        
        
    </div>
</body>
</html>

  