<div class="body">
    <div class="photo">
        
    </div>
    <div class="grid">
        <!-- Remplacer par ngfor -->
        <div class="product" *ngFor="let figurine of figurines;">
            <img [src]="figurine.url" alt="Image figurine" class="image-placeholder"/>
            <p class="title">{{ figurine.nom }}</p>
            <p class="price">{{ figurine.prix }} €</p>
        </div>

        <!-- <div class="product">
            <div class="image-placeholder"></div>
            <p class="title">Figurine Sailor Chibi Moon</p>
            <p class="price">42,90 $</p>
        </div>

        <div class="product">
            <div class="image-placeholder"></div>
            <p class="title">Figurine Sailor Chibi Moon</p>
            <p class="price">42,90 $</p>
        </div>

        <div class="product">
            <div class="image-placeholder"></div>
            <p class="title">Figurine Sailor Chibi Moon</p>
            <p class="price">42,90 $</p>
        </div>

        <div class="product">
            <div class="image-placeholder"></div>
            <p class="title">Figurine Sailor Chibi Moon</p>
            <p class="price">42,90 $</p>
        </div>

        <div class="product">
            <div class="image-placeholder"></div>
            <p class="title">Figurine Sailor Chibi Moon</p>
            <p class="price">42,90 $</p>
        </div>

        <div class="product">
            <div class="image-placeholder"></div>
            <p class="title">Figurine Sailor Chibi Moon</p>
            <p class="price">42,90 $</p>
        </div>

        <div class="product">
            <div class="image-placeholder"></div>
            <p class="title">Figurine Sailor Chibi Moon</p>
            <p class="price">42,90 $</p>
        </div>
        
        <div class="product">
            <div class="image-placeholder"></div>
            <p class="title">Figurine Sailor Chibi Moon</p>
            <p class="price">42,90 $</p>
        </div>

        <div class="product">
            <div class="image-placeholder"></div>
            <p class="title">Figurine Sailor Chibi Moon</p>
            <p class="price">42,90 $</p>
        </div>

        <div class="product">
            <div class="image-placeholder"></div>
            <p class="title">Figurine Sailor Chibi Moon</p>
            <p class="price">42,90 $</p>
        </div>

        <div class="product">
            <div class="image-placeholder"></div>
            <p class="title">Figurine Sailor Chibi Moon</p>
            <p class="price">42,90 $</p>
        </div>

        <div class="product">
            <div class="image-placeholder"></div>
            <p class="title">Figurine Sailor Chibi Moon</p>
            <p class="price">42,90 $</p>
        </div>

        <div class="product">
            <div class="image-placeholder"></div>
            <p class="title">Figurine Sailor Chibi Moon</p>
            <p class="price">42,90 $</p>
        </div>

        <div class="product">
            <div class="image-placeholder"></div>
            <p class="title">Figurine Sailor Chibi Moon</p>
            <p class="price">42,90 $</p>
        </div>

        <div class="product">
            <div class="image-placeholder"></div>
            <p class="title">Figurine Sailor Chibi Moon</p>
            <p class="price">42,90 $</p>
        </div>

        <div class="product">
            <div class="image-placeholder"></div>
            <p class="title">Figurine Sailor Chibi Moon</p>
            <p class="price">42,90 $</p>
        </div>

        <div class="product">
            <div class="image-placeholder"></div>
            <p class="title">Figurine Sailor Chibi Moon</p>
            <p class="price">42,90 $</p>
        </div> -->
    </div>
</div>



