<div class="body">
    <div class="form-container">
        <p class="top-text">Vous avez déjà un compte ? <button routerLink="/connexion">Connectez vous</button></p>

        <div class="radio-group">
            <label>Titre</label>
            <label><input type="radio" name="titre" value="M"> M</label>
            <label><input type="radio" name="titre" value="Mme"> Mme</label>
        </div>

        <input type="text" placeholder="Prénom">
        <input type="text" placeholder="Nom">
        <input type="email" placeholder="E-mail">
        <input type="password" placeholder="Mot de passe">

        <div class="date-group">
            <input type="text" placeholder="JJ/MM/AAA">
            <span class="optional">Optionnel</span>
        </div>

        <button class="btn-connexion">Connexion</button>
    </div>
</div>