<nav class="navbar">
  <div class="logo">
    <a routerLink="">
      <img src="StudioShinra.png" alt="Logo" />
    </a>
  </div>
  <div class="nav-links">

    <a routerLink="compte" routerLinkActive="active">Mon Compte</a>
    <a routerLink="panier">Panier</a>
  </div>
</nav>
<nav class="navbar2">
  <div class="search-bar">
    <form action="/rechercher" method="GET">
      <input type="text" name="q" placeholder="Rechercher">
    </form>
  </div>
  <div class="btn">
    <a routerLink="catalogue">
      <button class="catalogue-button">Catalogue</button>
    </a>



  </div>
</nav>