<nav class="navbar">
  <div class="logo">
    <a routerLink="">
      <img src="StudioShinra.png" alt="Logo" />
    </a>
  </div>
  <div class="nav-links">
    <!-- {{'suis-je connecté ? ' + isConnected }} -->

    @if(isConnected) {
      <!-- Le code html de quand je suis connecté  -->
      <a routerLink="compte" routerLinkActive="active">Mon Compte</a>
      <button class="btnConnexion" (click)="deconnexion()">
            Se déconnecter
      </button>
    } @else {
      <!-- Le code html de quand je suis pas connecté  -->
       <div class="containerLog">
        <div class="inscription">
          <button routerLink="inscription" class="btnInscription">
            S'inscrire
          </button>

        </div>
        <div class="connexion">
          <button class="btnConnexion" routerLink="connexion">
            Se connecter
          </button>
        </div>
       </div>
    }
    
    
    <a routerLink="panier">Panier</a>
  </div>
</nav>
<nav class="navbar2">
  <div class="search-bar">
    <form action="/rechercher" method="GET">
      <input type="text" name="q" placeholder="Rechercher">
    </form>
  </div>
  <div class="btn">
    <a routerLink="catalogue">
      <button class="catalogue-button">Catalogue</button>
    </a>



  </div>
</nav>